body {
	margin: 0px;
}

#container {
	width: 970px;
	margin: auto;
	/*height: 1000px;*/
	background-image: linear-gradient(#18506F, #3574AB);

}

#header {
	margin: 0px 0px 35px 0px;
	padding: 15px 0px 0px 0px;
	height: 80px;
	width: 970px;
	
}
	#logo{
		width: 350px;
		margin: 0px 100px 0px 20px;
		vertical-align: top;
		display: inline-block;	

}

.searchbar{
	height: 113px;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline-block;

}

.textsize{
	margin-left: 275px;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	font-size: 14px;
	margin-bottom: 5px;

}	

.normal{
	color: #EAC117;
	text-decoration:none;
	text-decoration: underline;
	text-decoration-color: #EAC117; 

}

#divide{
	color: black;'
}

#browse{
	width: 250px;
	height: 30px;
	padding: 10px 0px 15px 40px;
	margin: 0px 0px 0px 190px;
	background-color: #3C4448;
	border-radius: 8px;
	box-shadow: 3px 3px 3px black;

		
}

.search{
	width: 140px;
	height: 30px;
	border: 1.5px silver;
	border-style: inset;
	text-align: center;
	color: silver;
	font-size: 12px;

}

	

#go{
	width: 20px;
	margin: 0px 0px 0px 10px;
	padding: 7px 12px;
	display: inline-block;
	background-color: #18506F;
	font-family:Arial, Helvetica, sans-serif; 
	color: white;
	font-size: 14px;
	border-radius: 5px;
	border: 1.5px silver;
	border-style: outset;
	box-shadow: 2px 2px 4px black;
		
}

.nav {
	width: 850px;
	margin: 15px 0px 10px 80px;
	padding: 0px;
	background-image: linear-gradient(#3D7AAD, #628FB7,#3D7AAD); 	
	list-style-type: none;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 4px black;

}		

.nav li{
	padding: 13px 25px;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: white;

}

.links{
	color: white;
	text-decoration: none;

}
	
#main {
	height: 298px;
	border-bottom-style: solid;
	border-color: #1A3C58;
	border-width: 2px;
}


.sidebar {
width: 200px;
padding: 15px;
margin: 0px 15px 0px 40px;
display: inline-block;

}

.sidebar li {
	padding: 0px 0px 10px 0px; 
	list-style: none;

}

.list {
	list-style: none;
	text-align: center;		

}

.list li:before{
	content: "\00BB \0020";
	color: yellow;

}	

.resources {
	color: white;
	font-family:Arial, Helvetica, sans-serif;
		
}	

#content{
	width: 610px;
	margin: 0px 0px 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

p {
	font-size: 14px;
	color: white;
	margin-bottom: 10px;
}

.middle{
	margin: 0px;
	font-size: 18px;
}

.quotes{
	padding: 0px 0px 10px 0px;
	list-style: none;
	color: #EAC117;
	font-style: italic; 
}

.zen{
	color: white;
	list-style: none;

}	

#tips {
	padding: 15px 25px 0px 30px;
	background-color: white;
	font-family:Arial, Helvetica, sans-serif;

}	

.started{
width: 360px;
padding: 0px 25px 0px 0px;
display: inline-block;
vertical-align: top;
margin-left: 50px;
text-align: center;
border-top: 4px solid #8db7dd;

}

.title{
text-align: center;
padding: 5px 20px;
margin:0px;

}	

.brief{
	padding: 0px 55px 0px 20px;
	color: black;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
}

.begin{
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size: 18px;
	color: black;

}

.begin span{
	color: #85C1F3;
	font-size: 14px;
	
}	

.guide{
	list-style: none;
	list-style-type: square;
	color: black;

}

.guide{
	width: 240px; 
	margin: 0px;
	padding: 0px 0px 10px 65px;
}
	
.pyp{
	color: #85C1F3;
	font-size: 12px;
}

#footer{
	padding: 35px 100px 5px;
	background-image: linear-gradient(#25537a, #3574AB);
	font-family:Arial, Helvetica, sans-serif;text-align: center;
}

.footer li{
	list-style: none;
	display: inline;
	padding-right: 30px;

}	

.copyright{
	color: #77aad7;
	font-size: 10px;
}

.copyright span:before{
	content: "\00a9";
}

#footer a{
	text-decoration: none;
	color: #77aad7;
	

}